.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
    height: 100px;
    margin-bottom: 2rem;
}


.links {
    display: flex;
    flex-direction: column;
}

.link {
    padding: 7px;
    width: 100%;
    background: gray;
    color: #fafafa;
    text-decoration: none;
    margin-top: .7rem;
}

.logout button {
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
}